{% extends "blog/base.html" %} {% load custom_filter %} {% block title %}
<title>Articles</title>
{% endblock %} {% block content %} {% paginate article_list 8 %} {% if article_list %}
<section class="mysection">
    <h4 class="index-title">
        <a href="{% url " blog:article " pk=0 %}"><i class="el-th-list"></i>{% if category %}List{% else %} All {% endif %} &nbsp;&nbsp;> &nbsp;&nbsp;</a>
        <span class="orange-text">{{ category }}</span>
        <span style="float:right;margin-right:10px;">All Articles:<a class="orange-text"> {{ count }} </a>Articles</span>
    </h4>
    <div class="arclist">
        <ul>
            {% for article in article_list %}
            <li {% if article.view> 500 %}id="uzoma"{% elif article.view > 100 %} id="Hot" {% endif %}>
                <div class="arcimg">

                    <img src="{{ article.picture }}" alt="{{ article.title }}" title="{{ article.title }}" />
                </div>
                <div class="arc-right">
                    <h4 class="blue-text"><a href="{% url " blog:detail " pk=article.id %}" title="{{ article.title }}">{{ article.title }}</a></h4>
                    <p>{{ article.digest }}</p>
                    <ul>
                        <li><a title="{{ article.author }} {{ article.date_time }} Published "><i class="el-time"></i> {{ article.date_time }}</a></li>
                        <li><a href="#" title="Author： {{ article.author }}"><i class="el-user"></i>{{ article.author }}</a></li>
                        <li><a href="#" title="Already available {{ article.comment }} Comments"><i class="el-comment"></i>{{ article.comment }}</a>
                        </li>
                        <li><a title="Already available {{ article.view }} Times"><i class="el-eye-open"></i>{{ article.view }}</a></li>
                        <li class="mob-hidden">
                            <i class="el-tag"></i>
                            <a href="#">{{ article.tag.values| getTag }}</a>&nbsp;
                        </li>
                        <li><a href="{% url " blog:article " pk=article.category_id %}" title="Classification"><i class="el-th-list"></i>{{ article.category }}</a></li>
                    </ul>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        <div class="list-page">
            <ul class="post-data">
                <li><a>第 {{ current_page }} - {{ last_page }} 页</a> <a>共 {{ count }} 条</a></li>
            </ul>
        </div>
        <ul>

            <li {% if current_page==1 %}class="active" {% endif %}><a href="?page=1">Home</a></li>
            <li {% if current_page>= 2 %} {% else %}class="active"{% endif %}><a href="?page={{ current_page|add:-1 }}">Previous page</a></li>
            <li {% if current_page < last_page %} {% else %}class="active" {% endif %}><a href="?page={{ current_page|add:1 }}">Next page</a></li>
            <li {% if current_page==l ast_page %}class="active" {% endif %}><a href="?page={{ last_page }}">Last page</a></li>
        </ul>
    </div>

</section>
{% else %}
<section class="mysection" style="animation: fuxiasuo 0.8s;">There are no articles yet。</section>
{% endif %} {% endblock %}