<!--友情Link-->
<div class="side-link animation-div">
    <h4 class="index-title"><i class="el-paper-clip"></i>Link
        <small>Friend Links</small>
        <a href="mailto:odirajerem@gmail.com?subject=Blog&body=Blog:<br> Blog:<br>Blog地址:"><i class="el el-plus"></i>Application</a></h4>
    <ul>
        <li><a href="https://www.zaoshu.io/" target="_blank" title="智能云爬虫">Link</a></li>
        <li><a href="http://brucedone.com/" target="_blank" title="大鱼的鱼塘 - 一个总会有收获的地方">Link</a></li>
        <li><a href="http://www.songluyi.com/" target="_blank" title="">Link</a></li>
        <li><a href="http://blog.topspeedsnail.com/" target="_blank" title="本Blog专注于技术，Linux，编程，Python，C，Ubuntu、开源软件、Github等">Link</a></li>
        <li><a href="https://www.urlteam.org/" target="_blank" title="本Blog专注于技术，Linux，编程，Python，C，Ubuntu、开源软件、Github等">URL-team</a></li>
    </ul>
</div>